<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Compost App</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      This is an application designed to help users compost waste.
    </p>
  </body>
</html>