<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Compost App</title>
  </head>
  <body>
    
    <p>
    For further questions or assistance, visit: https://sites.google.com/site/muddsustainability/

    </p>
  </body>
</html>