<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Compost App</title>
  </head>
  <body>
    
    <p>     

    <br>

    Welcome to the Compost Calculator! We're here to help you make better compost. 
    <br>
    <br>
     We want to help you achieve the correct ratio of carbon to nitrogen, which is typically 25-30:1, and ensure that your pile is within an optimal temperature range. This app is geared towards small scale composters, like home gardeners or students in dorms. 
     <br>
     <br>
     Incorporating nutrient-rich soil from your compost pile into your garden can make the plants you grow unbelievably flavor-packed and healthy. Composting also allows you to help reduce the amount of waste ends up in our landfill. 
     <br>
     <br>
     Organic, non animal-based products are great candidates for composting. This could include fruit waste,, trimmed grasses, twigs and/or leaves from your lawn and garden, as well as a wide variety of food waste and debris. In order to keep your pile organic, ensure that all of your inputs are free of toxic chemicals.
     <br>
	<br>

	Happy composting!
	<br>
	<br>
	Read more <a href="http://www.earthtimes.org/going-green/importance-composting-help-eliminate-organic-waste-fertilize-soil/82/#HoAeItcir7kULBhP.99">here</a>. 
	</p>
  </body>
</html>