<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Compost App</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>Get help using the application.</p>
  </body>
</html>