<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Compost App</title>
  </head>
  <body>
    <div class="center jumbotron">
  	<h1>Welcome to the Compost App</h1>

  	<h2>
    	This is the home page for the
    	compost application.
  	</h2>

  	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

  </body>
</html>
