<footer class="footer">
  <small>
    The Compost Calculator
    by Dub Club.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Help", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://sites.google.com/site/muddsustainability/">News</a></li>
    </ul>
  </nav>
</footer>