<li id="pile-<%= pile.id %>">
  <%= link_to gravatar_for(pile.user, size: 50), pile.user %>
  <span class="user"><%= link_to pile.user.name, pile.user %></span>
  <span class="timestamp">
    Last Updated <%= time_ago_in_words(pile.updated_at) %> ago.
  </span>
</li>